<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name=".internal.ui.requests.RequestsBoardActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".internal.surveys.SurveyActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/UserGist.Survey" />
    </application>

</manifest>
